@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';



.button {
    @apply p-6 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
}

.button-sm {
    @apply bg-gray-800 text-white active:bg-pink-600 font-bold text-xs px-2 py-1 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150;
}


/* Board */
.drawn, .checked {
    background-color: #00FF00; /* Green background for drawn numbers */
    color: #fff;
}
.unchecked {
    background-color: #d4d2d2; /* Green background for drawn numbers */
}